body {
    margin: 0;

    font-family: monospace;
}

nav {
    background-color: black;
    color: white;

    position: fixed;
    top: 0;
    width: 100%;
}

.menu {
    /*RESET*/
    list-style-type: none;
    margin:  0;
    padding: 0;

    display: flex;
    justify-content: space-around;

    font-weight: bold;
    font-size: 3vmin;

    width: 60vmin;
}

.item-menu a {
    display: block;

    text-decoration: none;
    color: white;

    padding: 2vmin;
}

.item-menu a:hover {
    background-color: rgb(64, 64, 64);
}

.tabela {
    margin: 10px;
    margin-top: 40px;

    text-wrap: nowrap;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    
    background-color: black;
    color: white;

    padding: 0.5vmin;
    
    font-size: 2vmin;
    text-align: end;

    box-sizing: border-box;
    width: 100%;
}

#popup {
    display: none;
    background-color: white;
    border: 1px solid;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 8px 8px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    border-bottom: 1px solid black;
}

.close-btn {
    background-color: black;
    color: white;
    border: 0;
    font-size: 2em;
    padding: 0;
    width: 37px;
    cursor: pointer;
    user-select: none;
}

.close-btn:hover {
    background-color: red;
}

#nome {
    margin-left: 5%;
}