#popup {
    position: fixed;
    top: 50%;
    left: 50%;

    border: 1px solid;
    background-color: white;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.5);
    width: max-content;

    transform: translate(-50%, -50%);
    z-index: 2;
}







/* Barra superior */
#bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    color: white;

    border-bottom: 1px solid black;
}

.close-btn {
    background-color: black;
    color: white;

    border: 0;

    width: 37px;

    padding: 0;

    font-size: 2em;

    cursor: pointer;
    user-select: none;
}

.close-btn:hover {
    background-color: red;
}

#nomelabel {
    margin-left: 5%;
}







/* Formulário */
.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    gap: 10px;

}

.formulario input, .formulario select {
    border: 1px solid;
    font-family: monospace;
}

.formulario .uf_cidade {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.formulario .input_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario .salvar {
    background-color: black;
    border: 0;
    color: white;
    cursor: pointer;
    height: 100%;
}

.formulario .salvar:active {
    background-color: rgb(64, 64, 64);
}