html {
    width: 100vw;
    height: 100vh;
}
body {
    margin: 0;

    font-family: monospace;
}

/* --------------- Menu --------------- */
nav {
    background-color: black;
    color: white;

    width: 100%;

    z-index: 1;
}

#menu {
    /*RESET*/
    list-style-type: none;
    margin:  0;
    padding: 0;
    
    display: flex;
    justify-content: space-between;
}

.itemMenu {
    display: block;

    background-color: black;
    color: white;

    padding: 2vmin;

    border: none;
    
    font-family: monospace;
    font-weight: bold;
    font-size: 3vmin;
}
.itemMenu:hover {
    background-color: rgb(64, 64, 64);

    cursor: pointer;
}

/* --------------- Rodapé --------------- */
footer {
    position: absolute;
    bottom: 0;

    background-color: black;
    color: white;

    padding: 0.5vmin;
    
    font-size: 2vmin;
    text-align: end;

    box-sizing: border-box;
    width: 100%;
}