.popup {
    position: fixed;
    top: 50%;
    left: 50%;

    border: 1px solid rgb(64, 64, 64);
    background-color: white;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    width: max-content;

    transform: translate(-50%, -50%);
    z-index: 2;
}







/* Barra superior */
.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(64, 64, 64);
    color: white;

    border-bottom: 1px solid rgb(64, 64, 64);
}

.close-btn {
    background-color: rgb(64, 64, 64);
    color: white;

    border: 0;

    width: 37px;

    padding: 0;

    font-size: 2em;

    cursor: pointer;
    user-select: none;
}

.close-btn:hover {
    background-color: red;
}

#nomelabel {
    margin-left: 5%;
}







/* Formulário */
.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    gap: 10px;

    resize: both;
    overflow: auto;
}

.formulario input, .formulario select {
    border: 1px solid;
    font-family: monospace;
}

.formulario .uf_cidade {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.formulario .input_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario .salvar {
    background-color: rgb(64, 64, 64);
    border: 0;
    color: white;
    cursor: pointer;
    height: 100%;
}

.formulario .salvar:hover {
    background-color: rgba(0, 0, 0, 0.5)
}