#containerTabela {
    margin: 2vmin;
    margin-top: 10vmin;

    text-wrap: nowrap;
}

table, td, th {
    margin: 0;
    padding: 0;
    border: 1px solid;
    border-collapse: collapse;
    border-color: black;
    z-index: 1;
    text-wrap: nowrap;
}

tr:nth-child(even) {
    background-color: rgb(200, 200, 200);
}

tr {
    border: 1px solid;
}

th {
    background-color: rgb(64, 64, 64);
    color: white;
    text-align: left;
}

td {
    padding: 5px;
    min-width: 50px;
}

.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    box-sizing: border-box;
    border: 0;
    
    position: sticky;
    right: 0;
    
    background-color: rgb(64, 64, 64);
    
    min-width: 0;
    width: 48px;
    height: 26px;
    padding: 0;
    z-index: 0;
}

.options img {
    width: 16px;
    height: 16px;
}

.options button {
    cursor: pointer;
    background-color: rgb(64, 64, 64);

    width: 16px;
    height: 16px;

    border: none;

    margin: 0;
    padding: 0;
}

.options button:hover img{
    /* filter: invert(30%); */
    filter: invert(17%) sepia(65%) saturate(7232%) hue-rotate(357deg) brightness(98%) contrast(119%);
}